HOST=0.0.0.0
PORT=8765

# SUPABASE #
SUPABASE_PASSWORD=PASSWORD
SUPABASE_URL=https://***.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_***
SUPABASE_SECRET_KEY=SUPABASE_SECRET_KEY

# JWT #
JWT_SECRET_KEY=JWT_SECRET_KEY
JWT_EXPIRES_IN_HOURS=HOURS